---
---
@charset "utf-8";

@import 'base';

.content {
  margin: 0 auto;
  max-width: 42em;
  padding: $spacing-small $spacing-medium;
}

#Header {
  background-color: $alizarin;
  color: $clouds;
  font-family: 'Alegreya Sans SC', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;

  > .content {
    padding: $spacing-tiny $spacing-medium;

    > a {
      background-color: fade-out($pomegranate, 0.6);
      border-radius: 0.25em;
      color: $clouds;
      display: inline-block;
      font-size: 1.25em;
      margin-top: 5px;
      padding: 4px $spacing-small;
      text-decoration: none;
      transition: background-color $duration-short ease-out;
      vertical-align: top;

      &.-active,
      &:hover {
        background-color: $pomegranate;
      }
    }

    > .title {
      display: inline-block;
      font-size: 2em;
      line-height: 1em;
      width: 25%;
    }
  }
}
