@import 'vars';

* {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

a {
  color: $alizarin;
  cursor: pointer;
}

body {
  background-color: $clouds;
  color: $midnight-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
  margin: 0;
  padding: 2.8em 0;

  @media (min-width: $break-small) {
    font-size: 1.125rem;
  }

  @media (min-width: $break-large) {
    font-size: 1.25rem;
  }
}

code {
  color: $belize-hole;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.2em;
  margin: 1.2em 0 0;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.833em;
  text-transform: uppercase;
}

p {
  margin: $spacing-medium 0 0;
}

table {
  border-collapse: collapse;
  margin: $spacing-medium 0 0;
  width: 100%;

  > thead {
    background-color: fade-out($midnight-blue, 0.85);
  }

  th, td {
    padding: $spacing-tiny;
  }

  tr:nth-child(2n) {
    background-color: fade-out($midnight-blue, 0.95);
  }
}
