// Breakpoints
$break-large: 900px;
$break-small: 700px;

// Colors
$alizarin: #E74C3C;
$amethyst: #9B59B6;
$asbestos: #7F8C8D;
$belize-hole: #2980B9;
$carrot: #E67E22;
$clouds: #ECF0F1;
$concrete: #95A5A6;
$emerald: #2ECC71;
$green-sea: #16A085;
$midnight-blue: #2C3E50;
$nephritis: #27AE60;
$orange: #F39C12;
$peter-river: #3498DB;
$pomegranate: #C0392B;
$pumpkin: #D35400;
$silver: #BDC3C7;
$sun-flower: #F1C40F;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$wisteria: #8E44AD;

// Durations
$duration-long: 100ms;
$duration-short: 50ms;

// Spacings
$spacing-tiny: 0.25em;
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;
$spacing-huge: 4em;
