<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Alegreya+Sans:700|Roboto+Condensed:700|Roboto:400,400i,700,700i" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  </head>
  <body>
    <header id="Header">
      <div class="content">
        <span class="title">Warchet</span>
        {% for item in site.data.pages %}
          <a
            class="{% if item.url == page.url %}-active{% endif %}"
            href="{{ item.url }}"
          >{{ item.title }}</a>
        {% endfor %}
      </div>
    </header>
    <main id="Main">
      <div class="content">
        {{ content }}
      </div>
    </main>
  </body>
</html>
